<?xml version="1.0" encoding="utf-8"?>
<robot name="gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- CHASSIS -->
    <gazebo reference="chassis_link">
        <material>Gazebo/White</material>
    </gazebo>



    <!-- WHEELS -->
    <gazebo reference="front_left_wheel_link">
        <material>Gazebo/Gray</material>
    </gazebo>

    <transmission name="front_left_wheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint    name="front_left_wheel_joint">
            <hardwareInterface>velocity</hardwareInterface>
        </joint>
        <actuator name="fl_act">
            <hardwareInterface>velocity</hardwareInterface>
            <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
    </transmission>
    

    <gazebo reference="front_right_wheel_link">
        <material>Gazebo/Gray</material>
    </gazebo>

    <transmission name="front_right_wheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint    name="front_right_wheel_joint">
            <hardwareInterface>velocity</hardwareInterface>
        </joint>
        <actuator name="fr_act">
            <hardwareInterface>velocity</hardwareInterface>
            <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
    </transmission>


    <gazebo reference="rear_left_wheel_link">
        <material>Gazebo/Gray</material>
    </gazebo>

    <transmission name="rear_left_wheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint    name="rear_left_wheel_joint">
            <hardwareInterface>velocity</hardwareInterface>
        </joint>
        <actuator name="rl_act">
            <hardwareInterface>velocity</hardwareInterface>
            <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
    </transmission>


    <gazebo reference="rear_right_wheel_link">
        <material>Gazebo/Gray</material>
    </gazebo>

    <transmission name="rear_right_wheel_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint    name="rear_right_wheel_joint">
            <hardwareInterface>velocity</hardwareInterface>
        </joint>
        <actuator name="rr_act">
            <hardwareInterface>velocity</hardwareInterface>
            <mechanicalReduction>1.0</mechanicalReduction>
        </actuator>
    </transmission>



    <!-- CAMERA -->
    <gazebo reference="camera_link">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="camera_link">            <!-- Specifically a D455 specs -->
        <sensor name="camera" type="rgbd_camera">
            <always_on>true</always_on>
            <visualize>true</visualize>        <!-- Enable camera view in Gazebo client -->
            <update_rate>90</update_rate>
            <gz_frame_id>camera_link</gz_frame_id>
            <frame_id>camera_link</frame_id>
            <topic>camera</topic> 
            <point_cloud>true</point_cloud>
            <camera name="zed_camera">
                <camera_info_topic>camera/camera_info</camera_info_topic>
                <optical_frame_id>camera_link_optical</optical_frame_id>
                <horizontal_fov>1.50</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>800</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>6.5</far>
                </clip>
            </camera>
        </sensor>
    </gazebo>

    <gazebo reference="camera_link">
        <sensor name="imu" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>imu</topic>
        </sensor>
    </gazebo>



    <!-- ROS2 Control Plugin -->
    <xacro:if value="$(arg use_ros2_control)">

        <ros2_control name="DiffDriveSystem" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <joint name="front_left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rear_left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="front_right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rear_right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <gazebo>
            <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find rover_control)/config/diff_cont.yaml</parameters>
            </plugin>
        </gazebo>

    </xacro:if>

</robot>