<?xml version='1.0'?>

<robot name="paver" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="paverSize" value="0.01"/>
  <xacro:property name="paverMass" value="1"/>

  <link name="paver_link">
    <visual name="paver_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://meshes/paver.dae" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <collision name="paver_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://meshes/paver.dae" scale="0.01 0.01 0.01"/>
      </geometry>
      <surface>
        <friction>
          <mu>0.5</mu>
          <mu2>0.5</mu2>
        </friction>
      </surface>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${paverMass}"/>
      <inertia ixx="0.329" ixy="0" ixz="0" iyy="0.329" iyz="0" izz="0.625"/>
    </inertial>
  </link>

  <gazebo reference="paver_link">
    <selfCollide>1</selfCollide>
    <mu1 value="0.5"/>
    <mu2 value="0.5"/>
    <kp value="10000000.0" />
    <kd value="1.0" />
    <fdir1 value="1 0 0"/>
  </gazebo>

</robot>
