<?xml version="1.0" encoding="utf-8"?>
<robot name="ros2_control" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="rover_base" type="system">
        <hardware>
            <plugin>rover_control/CanVescHardwareInterface</plugin>
            <param name="can_interface" type="string" value="can0"/>
            <param name="wheel_radius" type="double" value="0.115"/>
            <param name="gear_ratio" type="double" value="56.0"/>
            <param name="motor_pole_pairs" type="int" value="7"/>
        </hardware>
        <joint name="front_left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="rear_left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="front_right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="rear_right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    
</robot>