<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- BASE -->
    <link name="base_link"/>



    <!-- CHASSIS -->
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis_link"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="chassis_link">
        <visual>
            <origin xyz="${chassis_origin}" rpy="0 0 0"/>
            <geometry>
                <box size="${chassis_width} ${chassis_length} ${chassis_height}"/>
            </geometry>
            <material name="gray"/>
        </visual>
        <collision>
            <origin xyz="${chassis_origin}" rpy="0 0 0"/>
            <geometry>
                <box size="${chassis_width} ${chassis_length} ${chassis_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${chassis_mass}" x="${chassis_width}" y="${chassis_length}" z="${chassis_height}">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <gazebo reference="chassis_link">
        <material>Gazebo/Gray</material>
    </gazebo>



    <!-- WHEEL TUBES -->
    <joint name="fr_tube_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="fr_tube_link"/>
        <origin xyz="${fr_tube_origin}" rpy="${pi/2} 0 0"/>
    </joint>

    <link name="fr_tube_link">
        <xacro:cylinder_macro
            mass="${tube_mass}" radius="${tube_radius}"
            length="${tube_length}" material="slate_gray">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:cylinder_macro>
    </link>


    <joint name="fl_tube_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="fl_tube_link"/>
        <origin xyz="${fl_tube_origin}" rpy="${pi/2} 0 0"/>
    </joint>

    <link name="fl_tube_link">
        <xacro:cylinder_macro
            mass="${tube_mass}" radius="${tube_radius}"
            length="${tube_length}" material="slate_gray">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:cylinder_macro>
    </link>

    <joint name="br_tube_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="br_tube_link"/>
        <origin xyz="${br_tube_origin}" rpy="${pi/2} 0 0"/>
    </joint>

    <link name="br_tube_link">
        <xacro:cylinder_macro
            mass="${tube_mass}" radius="${tube_radius}"
            length="${tube_length}" material="slate_gray">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:cylinder_macro>
    </link>

    <joint name="bl_tube_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="bl_tube_link"/>
        <origin xyz="${bl_tube_origin}" rpy="${pi/2} 0 0"/>
    </joint>

    <link name="bl_tube_link">
        <xacro:cylinder_macro
            mass="${tube_mass}" radius="${tube_radius}"
            length="${tube_length}" material="slate_gray">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:cylinder_macro>
    </link>
    
    

    <!-- WHEELS -->

</robot>