<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- BASE -->
    <link name="base_link"/>



    <!-- CHASSIS -->
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis_link"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="chassis_link">
        <visual>
            <origin xyz="${chassis_origin}" rpy="0 0 0"/>
            <geometry>
                <box size="${chassis_width} ${chassis_length} ${chassis_height}"/>
            </geometry>
            <material name="gray"/>
        </visual>
        <collision>
            <origin xyz="${chassis_origin}" rpy="0 0 0"/>
            <geometry>
                <box size="${chassis_width} ${chassis_length} ${chassis_height}"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="${chassis_mass}" x="${chassis_width}" y="${chassis_length}" z="${chassis_height}">
            <origin xyz="${chassis_origin}" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <gazebo reference="chassis_link">
        <material>Gazebo/Gray</material>
    </gazebo>

    <!-- WHEEL TUBES -->

    <!-- WHEELS -->

</robot>